/** all */
.body_container {
  width: 70%;
  margin: 0px 15%;
}

h1 {
  text-align: center;
  font-family: "Imprima", sans-serif;
}

p, span {
  font-family: "Khula", sans-serif;
}

/** navigation bar*/

img[src="images/frontpage-cover.jpg"] {
  width: 100%;
  padding: 0px;
  z-index: 0;
}

img[src="images/page-cover.png"] {
  width: 100%;
  padding: 0px;
}

img[src="images/logo.png"] {
  width: 100%;
}

.logo-index {
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 30%;
    width: 40%;
}

.nav-index ul {
  margin: auto;
  overflow: hidden;
  text-align: center;
  position: fixed;
  width: 100%;
  padding: 10px;
}

.nav-index li {
  display: inline-block;
  padding: 0;
}

.nav-index li a {
  display: block;
  font-family: "Khula";
  font-size: 10pt;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
}

.nav-index a:hover {
  color: #662d91;
}

.navlogo {
  padding: 15px;
  display: inline-block;
  position: fixed;
  text-align: left;
  width: 10%;
}

.nav ul {
  margin: auto;
  overflow: hidden;
  text-align: center;
  position: fixed;
  width: 100%;
  padding: 10px;
}

.nav li {
  display: inline-block;
  padding: 0;
}

.nav li a {
  display: block;
  font-family: "Khula";
  font-size: 10pt;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
}

.nav a:hover {
  color: #662d91;
}

/** footer */

.footer {
  background-color: #f7f7f7;
  margin: auto;
  padding: 0;
  display: block;
}

.footer ul {
  list-style-type: none;
  bottom: 20%;
  overflow: hidden;
  background-color: #f7f7f7;
  width: 100%;
  padding-bottom: 50px;
  padding-left: 43%;
}

.footer li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5%;
}

.footer li a {
    font-size: 25pt;
    color: #000;
    text-align: center;
    padding: 0;
  }

.footer a:hover {
  color: #662d91;
}

/** index.php */
#about p{
  text-align: center;
}

/** faqs.php, auditions.php, repertoire.php */
#main {
  text-align: center;
  width: 60%;
  margin: auto;
}

#title {
  font-size: 300%;
}
