/** all */
body {
  margin: 0;
  padding: 0;
}

.body_container {
  width: 70%;
  margin: 0px 15%;
}

h1 {
  text-align: center;
  font-family: "Imprima", sans-serif;
}

h2 {
  text-align: center;
  font-family: "Imprima", sans-serif;
}

p, span {
  font-family: "Khula", sans-serif;
}

/** navigation bar*/

img[src="images/frontpage-cover.jpg"] {
  width: 100%;
  padding: 0px;
  z-index: 0;
}

img[src="images/pages-cover.jpg"] {
  width: 100%;
  padding: 0px;
}

.nav-index ul {
  margin: auto;
  overflow: hidden;
  text-align: center;
  position: fixed;
  width: 100%;
  padding: 10px;
}

.nav-index li {
  display: inline-block;
  padding: 0;
}

.nav-index li a {
  display: block;
  font-family: "Khula", sans-serif;
  font-size: 10pt;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  opacity: 0.6;
}

.nav-index a:hover {
  opacity: 1;
}

.nav ul {
  display: inline;
  margin: auto;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #F7F7F7;
  opacity: 0.5;
  z-index: 1;
}

.nav li {
  display: inline-block;
  padding: 0;
}

.nav li a {
  font-family: "Khula", sans-serif;
  font-size: 10pt;
  font-weight: bold;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  opacity: 1;
}

.nav a:hover {
  color: #662d91;
}

/** footer */

.footer {
  background-color: #f7f7f7;
  margin: auto;
  padding: 0;
  display: block;
}

.footer ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #f7f7f7;
  width: 400px;
  margin: auto;
  height: 100px;
  padding-left: 13%;
}

.footer li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5%;
}

.footer li a {
    font-size: 30pt;
    color: #000;
    text-align: center;
    padding: 0;
  }

.footer a:hover {
  color: #662d91;
}

#spotify li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5%;
}

#spotify a:hover {
    color:  #ABAAAA;
  }

#spotify li {
  font-size: 30pt;
  color: #ABAAAA;
  text-align: center;
  padding: 0;
}

/** index.php */
#perf {
  text-align: center;
}

#about h1 {
  text-align: center;
  font-family: "Imprima", sans-serif;
}

/** faqs.php, auditions.php, repertoire.php */
#main {
  text-align: center;
  width: 60%;
  margin: auto;
}

#title {
  font-size: 300%;
}

/** faqs.php, used for js */
#faqs h2 {
  margin-bottom: 30px;
}

#faqs h2:hover {
  color: #662d91;
  cursor: pointer;
}

.answer {
  display: none;
}

/** styling for reportoire.php */
#left {
  float:left;
  width: 33%;
  background-color: white;
  text-align: center;
}

#center {
  float: left;
  width: 33%;
  background-color: white;
  text-align: center;
}

#right {
  float: left;
  width: 33%;
  background-color: white;
  text-align: center;
}

#clearspace {
  clear: both;
  float: none;
}

/** youtube link for repertoire.php */
#youtube {
  text-align: center;
  clear: both;
}

@media screen and (max-width: 700px) {

img[src="images/frontpage-cover.jpg"] {
  width: 100%;
  padding: 0px;
}

img[src="images/pages-cover.jpg"] {
  width: 100%;
  padding: 0px;
}

.nav-index ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  vertical-align: middle;
  position: static;
}

.nav-index li {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: black;
  background-color: white;
  }

.nav-index li a {
  text-decoration: none;
  color: black;
  text-align: center;
  display: block;
  width: 100%;
  padding: 2px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  vertical-align: middle;
  position: static;
}

.nav li {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: black;
  background-color: white;
}

.nav li a {
  text-decoration: none;
  color: black;
  text-align: center;
  display: block;
  width: 100%;
  padding: 2px;
}

#left {
  float: none;
  margin: auto;
  background-color: white;
  text-align: center;
}

#center {
  float: none;
  margin: auto;
  background-color: white;
  text-align: center;
}

#right {
  margin: auto;
  float: none;
  background-color: white;
  text-align: center;
}
}
