/** form */
#comments{
  width: 500px;
  height: 200px;
  border: 1px solid #e6e6e6;
}

#contact_submit {
  font-size: 20px;
  color: white;
  background-color: #662d91;
  border: none;
  font-family: "Khula", sans-serif;
}

.errorContainer {
  color: #de5454;
  font-size: 14px;
  padding-bottom: 10px;
}

.hiddenError {
  display: none;
}
