/** grid for member pages */
.container{
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

/** member information hidden by default */

.member {
  display: none;
  width: 90%;
  margin: auto;
}

.first{
  grid-column: 1;
}

.second{
  grid-column: 2;
}

.third{
  grid-column: 3;
}

.container img{
  margin: 8% 4% 0 4%;
  width: 92%;
}

.profile {
  position: relative;
}

.name {
   position: absolute;
   width: 92%;
   margin: 0 4%;
   text-align: center;
   padding: 10px 0;
   bottom: 0px;
   background-color: rgba(255, 255, 255, 0.7);
   font-weight: bold;
}

.info{
  width: 92%;
  margin: 0 4%;
}

.info h1{
  text-align: center;
}

.body_container img:hover {
  opacity: 0.6;
  cursor: pointer;
}
